body {
    background-color: rgb(64, 235, 207);
    color: rgba(27, 25, 25, 0.817);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

 a {
    color: crimson;
    text-decoration: none;
 }

 a:hover {
    color: aquamarine;
 }

nav {
    background-color: rgba(225, 239, 102, 0.888);
    color: rgba(11, 11, 11, 0.908);
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0%;
    margin: 0%;
    justify-content: space-between;
}

nav ul li {
    margin-right: 100px;
}

nav ul li a {
    text-decoration: none;
    color: rgba(8, 7, 7, 0.897);
    text-transform: uppercase;
}

nav ul li a:hover {
    color: azure;
}
 
.main_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: bisque;
}

.container_artist, .middle_container {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
    box-shadow: 0 4px 8px rgba ( 0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFF;
}

.image_artist  img {
    max-width: 100%;
    height: auto;
}

.text_artist, .table_artist {
    max-width: 200px;
    padding: 10px;
    background-color: rgba(187, 176, 176, 0.839);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(160, 181, 222);
}

    tr {
        background-color: rgb(226, 12, 12);
        color: black;
    }

    tr:nth-child(even) {
        background-color: beige;
    }
    
.container_artist {
    align-items: start;
    display: flex;
    gap: 20px;
}

.middle_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}